:root{
    --amarillo: rgb(235, 235, 58);
    --blanco: rgb(231, 231, 231);
    --rojo: rgb(243, 63, 63);
    --gris: rgb(150, 150, 150);
    --negro: rgb(7, 6, 6);
    --rojo-gris: linear-gradient(to bottom, rgb(245, 26, 26), rgb(243, 63, 63), rgb(170, 161, 161), rgb(231, 231, 231));
    --max-width: 1400px;
    --sombra-blanca: rgb(150, 150, 150)
    -2px -2px 0 white,  
    2px -2px 0 white,
    -2px 2px 0 white,
    2px 2px 0 white; /* Sombras de texto para simular un borde */
    --header-heigth: 100px;
    --input-disabled: rgb(231, 231, 231, 0.7);
}

* {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background: var(--rojo-gris);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.contenedor {
    max-width: var(--max-width);
}


.titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titulo__texto_pequeño {
    font-size: 36px;
}
.titulo__texto_grande {
    font-size: 60px;
}



.letra_amarilla {
    color: var(--amarillo);
    -webkit-text-stroke: 2px var(--negro);
    text-shadow:
    -2px -2px 0 white,  
    2px -2px 0 white,
    -2px 2px 0 white,
    2px 2px 0 white; 
}

.letra_blanca {
    color: var(--blanco);
    -webkit-text-stroke: 2px gray; /* Borde de texto de 1px de ancho y color gris */
    text-shadow:
    -2px 2px 0 black; /* Sombra de texto negra solo por debajo */
}

.letra_negra {
    color: var(--negro);
    text-shadow:
    -0.5px -0.5px 0 white,  
    0.5px -0.5px 0 white,
    -0.5px 0.5px 0 white,
    0.5px 0.5px 0 white;
}

.letra_roja {
    color: var(--rojo);
    text-shadow: var(--sombra-blanca)
}

.parrafo {
    font-size: 24px;
}

.header {
    display: flex;
    align-items: center;
    font-size: 28px;
    height: var(--header-heigth);
    justify-content: space-between;
}

.header__bloque_logo_y_seccion {
    display: flex;
    align-items: center;
    margin-left: 36px;
    gap: 4rem;
}

.header__titulo {
    width: 248px;
}

.header__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 36px;
    gap: 1rem;
    width: 348px;
}

.header__boton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    font-size: 28px;
    padding: 8px 24px;
    border: 2px solid var(--negro);
    border-radius: 8px;
    text-decoration: none;
}


.header__boton:hover {
    cursor: pointer;
    border: 2px solid var(--negro);
}

.header__volver:hover, .header__buscar:hover {
    background-color: rgb(247, 247, 134);
}

.header__volver:active, .header__buscar:active {
    background-color: var(--amarillo);
}

.header__registrar:hover {
    background-color: rgb(173, 253, 166);
}

.header__registrar:active {
    background-color: rgb(160, 255, 18);
}

.header__cerrar_sesion:hover {
    background-color: rgb(206, 205, 205);
}

.header__cerrar_sesion:active {
    background-color: var(--gris);
}

.header__logo_boton {
    width: 28px;
}

.seccion_principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - var(--header-heigth));
}

/* estilos ingreso */

.card {
    margin-top: 36px;
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border: 2px solid var(--negro);
    border-radius: 8px;
    padding: 24px;
}

.card__form_ingreso {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 16px;
}



.card__image {
    width: 80px;
}

.bi-lock-fill, .bi-person-circle {
    font-size: 32px;
    margin: auto 12px;
}

.card__input_form {
    border-radius: 8px;
    border: 2px solid var(--negro);
    padding: 8px;
    color: var(--rojo);
    background-color: var(--blanco);
}

.heigth_input_32 {
    font-size: 32px;
}



.boton {
    width: 40%;
    font-size: 24px;
    padding: 8px 24px;
    border: 2px solid var(--negro);
    border-radius: 8px;
    text-decoration: none;
}

.boton:hover {
    cursor: pointer;
    background-color: rgb(206, 205, 205);
}

.boton:active {
    background-color: rgb(150, 150, 150);
}

.card__form_olvido {
    font-size: 20px;
    text-decoration: none;
    color: var(--gris);
}

.card__form_olvido:hover {
    text-decoration: underline;
}

.card__form_olvido:active {
    color: var(--rojo);
    text-shadow: var(--sombra-blanca)
}


/* estilos menu_opciones */

.menu_opciones {
    display: flex;
    justify-content: center;
    margin: 36px auto;
    gap: 3rem;
}

.menu_opciones__opcion {
    display: flex;
    border: 3px solid var(--negro);
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    min-width: 388px;
    width: 388px;
}

.menu_opciones__opcion:hover {
    transform: scale(1.1);
    background-color: rgb(240, 255, 145);
}

.menu_opciones__opcion:active {
    background-color: var(--amarillo);
}

.menu_opciones__tarjeta {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu_opciones__logo_cliente {
    width: 160px;
}

.menu_opciones__logo_inventario {
    width: 180px;
}

.menu_opciones__logo_inventario {
    width: 200px;
}

/* estilos forms de registrar */


.card_registrar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card__image_registrar, .card__image_editar {
    width: 200px;
}

.card__form_registrar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
    font-size: 16px;
}

.card__form-div {
    display: flex;
    flex-direction: column;
}


.heigth_input_16 {
    font-size: 16px;
}


.boton_guardar_registro {
    width: 100%;
}

/* estilos tabla de datos */

.tabla_registros__tabla {
    border: 2px solid var(--negro);
    table-layout: fixed;
    margin-top: 36px;
}

.celdas_encabezado {
    font-size: 32px;
    border: 2px solid var(--negro); 
}

.tabla_registros__celda_id {
    width: 120px;
}

.tabla_registros__celda_nombre, .tabla_registros__celda_correo {
    max-width: 240px;
}

.tabla_registros__celda_numero_di, .tabla_registros__celda_telefono {
    width: 172px;
}

.tabla_registros__celda_editar, .tabla_registros__celda_eliminar {
    width: 48px;
}

.celda {
    white-space: nowrap;
    overflow-x: auto;
    padding: 8px;
    border: 2px solid black;
}

/* Estilos para la barra de desplazamiento */
.celda::-webkit-scrollbar {
    height: 4px; /* Ancho de la barra de desplazamiento */
}

.celda::-webkit-scrollbar-thumb {
    background-color: var(--gris); /* Color del "pulgón" de la barra de desplazamiento */
    border-radius: 5px; /* Radio de borde del "pulgón" */
}

.celda::-webkit-scrollbar-track {
    background-color: transparent; /* Color de fondo de la pista de la barra de desplazamiento */
}

.celda::-webkit-scrollbar-thumb:hover {
    background-color: rgb(63, 63, 63); /* Color del "pulgón" al pasar el ratón sobre él */
}

.celdas_datos {
    text-align: center;
    font-size: 16px;
}

.tabla_registros__boton {
    display: inline-block;
    margin-top: 4px;
}


.tabla_registros__logo_boton {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 24px;
    border-radius: 8px;
}

.tabla_registros__eliminar {
    border-radius: 16px;
}


.tabla_registros__editar:hover {
    transform: scale(1.2);
    background-color: rgb(240, 255, 145);;
}

.tabla_registros__editar:active {
    background-color: var(--amarillo);
}

.tabla_registros__eliminar:hover {
    transform: scale(1.2);
    background-color: rgb(253, 135, 135);
}

.tabla_registros__eliminar:active {
    background-color: var(--rojo);
}

/* ESTILOS DE VENTANAS EMERGENTES */

.modal {
    display: none; /* Ocultar la ventana emergente por defecto */
    position: fixed; /* Posición fija en la pantalla */
    top: 0;
    left: 0;
    width: 100%; /* Tamaño completo de la ventana */
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fondo semitransparente */
    z-index: 1; /* Superponer sobre otros elementos */
}

.mensaje_accion {
    display: block;
}

.modal-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--rojo-gris); /* Color de fondo de la ventana emergente */
    margin: 15% auto; /* Centrar verticalmente y ajustar los márgenes */
    padding: 20px;
    border: 2px solid var(--gris);
    border-radius: 8px;
    width: 30%; /* Ancho de la ventana emergente */
}

.div-close {
    display: flex;
    justify-content: end;
}

.close {
    display: flex;
    width: 12px;
    cursor: pointer;
}

.close:hover {
    transform: scale(1.4);
    color: #000;
}

.div-botones {
    display: flex;
    margin-top: 12px;
    justify-content: center;
    gap: 2rem;
}

.modal__boton_eliminar, .modal__boton_cancelar, .modal__boton_aceptar {
    font-size: 20px;
    padding: 8px 24px;
    border: 2px solid var(--negro);
    border-radius: 8px;
    text-decoration: none;
}


.modal__boton_eliminar:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color: rgb(253, 135, 135);
}

.modal__boton_eliminar:active {
    transform: scale(1.2);
    cursor: pointer;
    background-color: var(--rojo);
}

.modal__boton_cancelar:hover, .modal__boton_aceptar:hover {
    transform: scale(1.2);
    cursor: pointer;
    background-color: rgb(206, 205, 205);
}

.modal__boton_cancelar:active, .modal__boton_aceptar:active {
    transform: scale(1.2);
    background-color: var(--gris);
}


/* Estilo seccion editar */

.card_editar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 900px;
}

.card__form_editar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card_input_form_disabled {
    background-color: var(--input-disabled);
    color: var(--gris);
}

.card__contenedor_flechas {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: -60px;
}

.card__flechas {
    display: flex;
}

.bi-caret-right-fill {
    font-size: 56px;
    color: var(--amarillo);
}

.card_form__boton_cancelar {
    background-color: var(--blanco);
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.input_id_cliente {
    display: none;
}