:root{
    --amarillo: rgb(219, 219, 96);
    --blanco: rgb(231, 231, 231);
    --rojo: rgb(243, 63, 63);
    --negro: rgb(7, 6, 6);
}

* {
    background-color: var(--rojo);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.titulo {
    display: flex;
    flex-direction: column;
}

.titulo__texto {
    text-align: center;
    font-size: 32px;
}

.letra_amarilla {
    color: var(--amarillo);
    -webkit-text-stroke: 1px var(--negro);
    text-shadow:
    -2px -2px 0 white,  
    2px -2px 0 white,
    -2px 2px 0 white,
    2px 2px 0 white; /* Sombras de texto para simular un borde */
}

.letra_blanca {
    color: var(--blanco);
    -webkit-text-stroke: 1px gray; /* Borde de texto de 1px de ancho y color gris */
    text-shadow:
    -2px 2px 0 black; /* Sombra de texto negra solo por debajo */
}

.letra_negra {
    color: var(--negro);
    text-shadow:
    -0.5px -0.5px 0 white,  
    0.5px -0.5px 0 white,
    -0.5px 0.5px 0 white,
    0.5px 0.5px 0 white;
}

.letra_roja {
    color: var(--rojo);
    text-shadow:
    -0.5px -0.5px 0 white,  
    0.5px -0.5px 0 white,
    -0.5px 0.5px 0 white,
    0.5px 0.5px 0 white;
}