<div id="confirmar_eliminar" class="modal">
    <div class="modal-content">
        <div class="div-close">
            <span id="close_confirmar_eliminar" class="close">&times;</span>
        </div>
        <p id="mensaje_modal" class="parrafo letra_blanca"></p>
        <div class="div-botones">
            <a id="eliminar_registro" class="modal__boton_eliminar letra_negra">Eliminar</a>
            <a id="cancelar_eliminacion" class="modal__boton_cancelar letra_negra">Cancelar</a>
        </div>
    </div>
</div>