{% extends "layouts/base.html" %}
{% load static %}


{% block title %}
<title>Clientes</title>
{% endblock title %}

{% block nombre_seccion %}
<p class="header__titulo letra_blanca">Menú Clientes</p>
{% endblock nombre_seccion %}

{% block boton_volver %}
<li>
    <a href="{% url "menu_opciones" %}" class="header__boton header__volver">
        <img src="{% static "images/logo_volver.png" %}" alt="volver" class="header__logo_boton">
    </a>
</li>
{% endblock boton_volver %}

{% block boton_registrar %}
<li>
    {% include "layouts/partials/boton_registrar.html" %}
</li>
{% endblock boton_registrar %}

{% block boton_buscar %}
<li>
    {% include "layouts/partials/boton_buscar.html" %}
</li>
{% include "layouts/modals/modals_clientes/buscador_clientes.html" %}
{% endblock boton_buscar %}

{% block boton_cerrar_sesion %}
    {% include "layouts/partials/boton_cerrar_sesion.html" %}
{% endblock boton_cerrar_sesion %}

{% block cuerpo_seccion %}
{% include "layouts/modals/mensajes/confirmar_eliminar.html" %}
{% include "layouts/modals/modals_clientes/registrar_clientes.html" %}
{% include "layouts/modals/modals_clientes/editar_clientes.html" %}
{% include "layouts/modals/mensajes/mensaje_input_no_valido.html" %}

{% if registrado %}
    {% include "layouts/modals/mensajes/mensaje_registrado.html" %}
{% endif %}
{% if actualizado %}
    {% include "layouts/modals/mensajes/mensaje_actualizado.html" %}
{% endif %}
{% if eliminado %}
    {% include "layouts/modals/mensajes/mensaje_eliminacion.html" %}
{% endif %}
{% if actualizado %}
    {% include "layouts/modals/mensajes/mensaje_actualizado.html" %}
{% endif %}
{% if sin_coincidencias %}
    {% include "layouts/modals/mensajes/mensaje_sin_coincidencias.html" %}
{% endif %}


<div class="contenedor tabla_registros">
    <table class="tabla_registros__tabla">
        <tr class="celdas_encabezado">
            <th class="celda tabla_registros__celda_id">ID</th>
            <th class="celda tabla_registros__celda_nombre">Nombre</th>
            <th class="celda tabla_registros__celda_numero_di">Número DI</th>
            <th class="celda tabla_registros__celda_correo">Correo</th>
            <th class="celda tabla_registros__celda_telefono">Teléfono</th>
            <th colspan="2" class="celda tabla_registros__celda_recargar"><a href="{% url "clientes" %}"><img src="{% static "images/logo_recargar.png" %}" alt="recargar" class="tabla_registros__recargar"></a></th>
        </tr>
        {% for cliente in pagina.object_list %}
        <tr class="celdas_datos">
            <td class="celda tabla_registros__celda_id">{{ cliente.id }}</td>
            <td class="celda tabla_registros__celda_nombre">{{ cliente.nombre_cliente }}</td>
            <td class="celda tabla_registros__celda_numero_di">{{ cliente.documento_identidad }}</td>
            <td class="celda tabla_registros__celda_correo">{{ cliente.correo_electronico }}</td>
            <td class="celda tabla_registros__celda_telefono">{{ cliente.telefono }}</td>
            <td class="celda tabla_registros__celda_editar"><a href="#" data-registro-id={{ cliente.id }} data-app-registro="clientes" class="tabla_registros__boton boton_editar" ><img src="{% static "images/logo_editar.png" %}" alt="editar" class="tabla_registros__logo_boton tabla_registros__editar"></a></td>
            <td class="celda tabla_registros__celda_eliminar"><a href="#" data-url= {% url "eliminar_cliente" cliente.id %} data-mensaje= "cliente {{ cliente.nombre_cliente }} con ID {{ cliente.id }}" class="tabla_registros__boton boton_eliminar"><img src="{% static "images/logo_eliminar.png" %}" alt="eliminar" class="tabla_registros__logo_boton tabla_registros__eliminar"></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock cuerpo_seccion %}
{% block paginacion %}
{% include "layouts/partials/paginacion.html" %}
{% endblock paginacion %}

