{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
<title>Inicio</title>
{% endblock title %}

{% block nombre_seccion %}
<p>Inicio</p>
{% endblock nombre_seccion %}


{% block boton_cerrar_sesion %}
<li>
    <a href="">Cerrar Sesion</a>
</li>
{% endblock boton_cerrar_sesion %}


{% block opciones %}
<div class="contenedor menu_opciones">
    <a href="{% url 'clientes' %}" class="menu_opciones__opcion letra_negra">
        <figure class="menu_opciones__tarjeta">
            <img src="{% static "images/logo_cliente.png" %}" alt="clientes" class="menu_opciones__logo_cliente">
            <figcaption>
                <h2>Clientes</h2>
            </figcaption>
        </figure>
    </a>
    <a href="" class="menu_opciones__opcion letra_negra">
        <figure class="menu_opciones__tarjeta">
            <img src="{% static "images/logo_inventario.png" %}" alt="inventario" class="menu_opciones__logo_inventario">
            <figcaption>
                <h2>Inventario</h2>
            </figcaption>
        </figure>
    </a>
    <a href="" class="menu_opciones__opcion letra_negra">
        <figure class="menu_opciones__tarjeta">
            <img src="{% static "images/logo_servicios.png" %}" alt="servicios" class="menu_opciones__logo_inventario">
            <figcaption>
                <h2>Servicios</h2>
            </figcaption>
        </figure>
    </a>
</div>
<p class="letra_roja parrafo">Selecciona la tarjeta de la sección a la que deseas dirigirte</p>
{% endblock opciones %}