{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
<title>Inicio</title>
{% endblock title %}

{% block nombre_seccion %}
<p class="header__titulo letra_blanca">Menú de Inicio</p>
{% endblock nombre_seccion %}

{% block titulo_en_encabezado %}{% endblock titulo_en_encabezado %}

{% block boton_cerrar_sesion %}
    {% include "layouts/partials/boton_cerrar_sesion.html" %}
{% endblock boton_cerrar_sesion %}


{% block titulo_en_cuerpo %}
{% include "layouts/partials/titulo.html" %}
{% endblock titulo_en_cuerpo %}

{% block cuerpo_seccion %}
<div class="contenedor menu_opciones">
    <a href="{% url 'clientes' %}" class="menu_opciones__opcion letra_negra">
        <figure class="menu_opciones__tarjeta">
            <img src="{% static "images/logo_cliente.png" %}" alt="clientes" class="menu_opciones__logo_cliente">
            <figcaption>
                <h2>Clientes</h2>
            </figcaption>
        </figure>
    </a>
    <a href="{% url "inventario" %}" class="menu_opciones__opcion letra_negra">
        <figure class="menu_opciones__tarjeta">
            <img src="{% static "images/logo_inventario.png" %}" alt="inventario" class="menu_opciones__logo_inventario">
            <figcaption>
                <h2>Inventario</h2>
            </figcaption>
        </figure>
    </a>
    <a href="{% url "servicios" %}" class="menu_opciones__opcion letra_negra">
        <figure class="menu_opciones__tarjeta">
            <img src="{% static "images/logo_servicios.png" %}" alt="servicios" class="menu_opciones__logo_inventario">
            <figcaption>
                <h2>Servicios</h2>
            </figcaption>
        </figure>
    </a>
</div>
<p class="letra_roja parrafo">Selecciona la tarjeta de la sección a la que deseas dirigirte</p>
{% endblock cuerpo_seccion %}