{% extends "layouts/base.html" %}

{% load static %}

{% block script %}{% endblock script %}
{% block title %}
<title>Registrar Productos</title>
{% endblock title %}

{% block nombre_seccion %}
<p class="header__titulo letra_blanca">Inventario -> Registrar</p>
{% endblock nombre_seccion %}

{% block boton_volver %}
<li>
    <a href="{% url "inventario" %}" class="header__boton header__volver">
        <img src="{% static "images/logo_volver.png" %}" alt="volver" class="header__logo_boton">
    </a>
</li>
{% endblock boton_volver %}

{% block boton_cerrar_sesion %}
    {% include "layouts/partials/boton_cerrar_sesion.html" %}
{% endblock boton_cerrar_sesion %}

{% block cuerpo_seccion %}
{% if registrado %}
    {% include "layouts/modals/mensaje_registrado.html" %}
{% endif %}
{% include "forms/form_registrar_productos.html" %}
{% endblock cuerpo_seccion %}