{% extends "layouts/base.html" %}
{% load static %}


{% block title %}
<title>Servicios</title>
{% endblock title %}

{% block nombre_seccion %}
<p class="header__titulo letra_blanca">Menú Servicios</p>
{% endblock nombre_seccion %}

{% block boton_volver %}
<li>
    <a href="{% url "menu_opciones" %}" class="header__boton header__volver">
        <img src="{% static "images/logo_volver.png" %}" alt="volver" class="header__logo_boton">
    </a>
</li>
{% endblock boton_volver %}

{% block boton_registrar %}
<li>
    {% include "layouts/partials/boton_registrar.html" %}
</li>
{% endblock boton_registrar %}

{% block boton_buscar %}
<li>
    {% include "layouts/partials/boton_buscar.html" %}
</li>
{% include "layouts/modals/modals_servicios/buscador_servicios.html" %}
{% endblock boton_buscar %}

{% block boton_cerrar_sesion %}
    {% include "layouts/partials/boton_cerrar_sesion.html" %}
{% endblock boton_cerrar_sesion %}

{% block cuerpo_seccion %}
{% include "layouts/modals/mensajes/confirmar_eliminar.html" %}
{% include "layouts/modals/modals_servicios/registrar_servicios.html" %}
{% include "layouts/modals/modals_servicios/editar_servicios.html" %}
{% include "layouts/modals/modals_servicios/servicio_asignar_cliente.html" %}
{% include "layouts/modals/modals_servicios/servicio_asignar_productos.html" %}
{% include "layouts/modals/mensajes/mensaje_cantidad_no_valida.html" %}
{% if registrado %}
    {% include "layouts/modals/mensajes/mensaje_registrado.html" %}
{% endif %}
{% if eliminado %}
    {% include "layouts/modals/mensajes/mensaje_eliminacion.html" %}
{% endif %}
{% if actualizado %}
    {% include "layouts/modals/mensajes/mensaje_actualizado.html" %}
{% endif %}
{% if sin_coincidencias %}
    {% include "layouts/modals/mensajes/mensaje_sin_coincidencias.html" %}
{% endif %}
{% if error %}
    {% include "layouts/modals/mensajes/mensaje_error.html" %}
{% endif %}


<div class="contenedor tabla_registros">
    <table class="tabla_registros__tabla">
        <tr class="celdas_encabezado">
            <th class="celda tabla_registros__celda_id">ID</th>
            <th class="celda tabla_registros__celda_servicio">Servicio</th>
            <th class="celda tabla_registros__celda_descripcion">Descripción</th>
            <th class="celda tabla_registros__celda_costo_total">Costo</th>
            <th class="celda tabla_registros__celda_fecha">Fecha</th>
            <th class="celda tabla_registros__celda_info_cliente">ID.Cliente</th>
            <th class="celda tabla_registros__celda_productos">Productos</th>
            <th colspan="2" class="celda tabla_registros__celda_recargar"><a href="{% url "servicios" %}"><img src="{% static "images/logo_recargar.png" %}" alt="recargar" class="tabla_registros__recargar"></a></th>
        </tr>
        {% for servicio in pagina.object_list %}
        <tr class="celdas_datos">
            <td class="celda tabla_registros__celda_id">{{ servicio.id }}</td>
            <td class="celda tabla_registros__celda_servicio">{{ servicio.nombre_servicio }}</td>
            <td class="celda tabla_registros__celda_descripcion">{{ servicio.descripcion }}</td>
            <td class="celda tabla_registros__celda_costo_total">{{ servicio.costo_total }}</td>
            <td class="celda tabla_registros__celda_fecha">{{ servicio.fecha }}</td>
            <td class="celda tabla_registros__celda_info_cliente">{{ servicio.cliente.id }}. {{ servicio.cliente.nombre_cliente }}</td>
            <td class="celda tabla_registros__celda_productos">
                <div class="tabla_registros__contenedor_lista_productos">
                    <ul class="tabla_registros__lista_productos">
                        {% for registro in servicio.servicio_productos_set.all %}
                        <li>{{ registro.producto.referencia }} ( {{ registro.cantidad }})</li>
                        {% endfor %}
                    </ul>
                </div>
            </td>
            <td class="celda tabla_registros__celda_editar"><a href="#" data-registro-id={{ servicio.id }} data-app-registro="servicios" class="tabla_registros__boton boton_editar"><img src="{% static "images/logo_editar.png" %}" alt="editar" class="tabla_registros__logo_boton tabla_registros__editar"></a></td>
            <td class="celda tabla_registros__celda_eliminar"><a href="#" data-url= {% url "eliminar_servicio" servicio.id %} data-mensaje= "Servicio  {{ servicio.nombre_servicio }} con ID {{ servicio.id }} realizado al cliente {{ servicio.cliente.nombre_cliente }}" class="tabla_registros__boton boton_eliminar"><img src="{% static "images/logo_eliminar.png" %}" alt="eliminar" class="tabla_registros__logo_boton tabla_registros__eliminar"></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock cuerpo_seccion %}
{% block paginacion %}
{% include "layouts/partials/paginacion.html" %}
{% endblock paginacion %}

