{% load static %}


    <article class="card card_buscar">
        <div class="div-close div-close-buscador">
            <span id="close" class="close">&times;</span>
        </div>
        <figure>
            <img src="{% static "images/logo_buscar.png" %}" alt="logo_buscar" class="card__image_buscar">
        </figure>
        <div>
            <form action="{% url "buscar_clientes" %}" method="get" class="card__form_buscar">
                <div class="card__form-div">
                    <label for="campo">Campo:</label></i>
                    <select name="campo" id="campo" class="card__input_form heigth_input_16">
                        <option value="nombre_cliente">Nombre</option>
                        <option value="documento_identidad">Número DI</option>
                        <option value="correo_electronico">Correo</option>
                        <option value="telefono">Teléfono</option>
                    </select>
                </div>
                <div class="card__form-div">
                    <label for="buscar">Buscar:</label>
                    <input type="text" id="buscar" name="buscar" class="card__input_form heigth_input_18">
                </div>
                <button type="submit" class="boton boton_buscar letra_roja">Buscar</button>
            </form>
        </div>
    </article>