{% load static %}

<div class="contenedor">
    <article class="card card_editar">
        <figure>
            <img src="{% static "images/logo_cliente.png" %}" alt="logo" class="card__image_editar">
        </figure>
        <div>
            <form action="" class="card__form_editar">
                <div class="card__form-div">
                    <label for="nombre_cliente">Nombre</label></i>
                    <input type="text" id="nombre_cliente" name="nombre_cliente" disabled class="card__input_form card_input_form_disabled heigth_input_16 nombre_cliente">
                </div>
                <div class="card__form-div">
                    <label for="documento_identidad">Número de documento</label>
                    <input type="text" maxlength="20" id="documento_identidad" name="documento_identidad" disabled class="card__input_form card_input_form_disabled heigth_input_16 documento_identidad">
                </div>
                <div class="card__form-div">
                    <label for="correo_electronico">Correo Electrónico</label>
                    <input type="email" maxlength="100" id="correo_electronico" name="correo_electronico" disabled class="card__input_form card_input_form_disabled heigth_input_16 correo_electronico">
                </div>
                <div class="card__form-div">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" maxlength="15" id="telefono", name="telefono" disabled class="card__input_form card_input_form_disabled heigth_input_16 telefono">
                </div>
                <div class="card__form-div">
                    <a href="#" id="cancelar_editar" class="boton card_form__boton_cancelar letra_roja">Cancelar</a>
                </div>
            </form>
        </div>
        <div class="card__contenedor_flechas">
            <div class="card__flechas">
                <i class="bi bi-caret-right-fill"></i>
                <i class="bi bi-caret-right-fill"></i>
            </div>
            <div class="card__flechas">
                <i class="bi bi-caret-right-fill"></i>
                <i class="bi bi-caret-right-fill"></i>
            </div>
            <div class="card__flechas">
                <i class="bi bi-caret-right-fill"></i>
                <i class="bi bi-caret-right-fill"></i>
            </div>
            <div class="card__flechas">
                <i class="bi bi-caret-right-fill"></i>
                <i class="bi bi-caret-right-fill"></i>
            </div>
        </div>
        <div>
            <form action="{% url "editar_cliente" %}" method="post" class="card__form_editar">
                {% csrf_token %}
                <input type="hidden" id="registro_id" name="registro_id">
                <div class="card__form-div">
                    <label for="nombre_cliente">Nombre</label></i>
                    <input type="text" id="nombre_cliente" name="nombre_cliente" required class="card__input_form heigth_input_16 nombre_cliente">
                </div>
                <div class="card__form-div">
                    <label for="documento_identidad">Número de documento</label>
                    <input type="text" maxlength="20" id="documento_identidad" name="documento_identidad" class="card__input_form heigth_input_16 documento_identidad">
                </div>
                <div class="card__form-div">
                    <label for="correo_electronico">Correo Electrónico</label>
                    <input type="email" maxlength="100" id="correo_electronico" name="correo_electronico" class="card__input_form heigth_input_16 correo_electronico">
                </div>
                <div class="card__form-div">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" maxlength="15" id="telefono", name="telefono" class="card__input_form heigth_input_16 telefono">
                </div>
                <button type="submit" class="boton boton_guardar_registro letra_roja">Actualizar</button>
            </form>
        </div>
    </article>
</div>