{% load static %}


<div class="contenedor">
    <article class="card card_registrar">
        <figure>
            <img src="{% static "images/logo_servicios_registrar.png" %}" alt="logo" class="card__image_registrar">
        </figure>
        <div>
            <form action="{% url "registrar_servicio" %}" method="post" class="card__form_registrar">
                {% csrf_token %}
                <div class="card__form-div">
                    <label for="nombre_servicio">Servicio</label>
                    <select name="nombre_servicio" id="nombre_servicio" class="card__input_form heigth_input_16">
                        <option value="" disabled selected hidden>Seleccione un servicio:</option>
                        {% for nombre_servicio in nombres_servicios %}
                        <option value="{{ nombre_servicio.id }}">{{ nombre_servicio.nombre_servicio }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="card__form-div">
                    <label for="descripcion">Descripción</label></i>
                    <input type="text" id="descripcion" name="descripcion" required class="card__input_form heigth_input_16">
                </div>
                <div class="card__form-div">
                    <label>Precio adicional</label>
                    <div class="div_precio_adicional_inputs">
                        <div class="div_radio_inputs_precio_adicional">
                            <input type="radio" name="precio_adicional_radio" id="si_precio_adicional_radio" class="card__input_form heigth_input_18 input_oculto">
                            <label for="si_precio_adicional_radio" class="card__input_form heigth_input_18">Sí</label>
                        </div>
                        <div class="div_radio_inputs_precio_adicional">
                            <input type="radio" name="precio_adicional_radio" id="no_precio_adicional_radio" class="card__input_form heigth_input_18 input_oculto" checked>
                            <label for="no_precio_adicional_radio" class="card__input_form heigth_input_18">No</label>
                        </div>
                    </div>
                    <input type="text" id="input_precio_adicional" name="input_precio_adicional" value=0 class="card__input_form heigth_input_16 input_precio_adicional ">
                </div>
                <div class="card__form-div">
                    <label for="costo_total">Costo total</label>
                    <input type="text" id="costo_total" name="costo_total" readonly class="card__input_form heigth_input_16">
                </div>

                <div class="card__form-div">
                    <label for="fecha">Fecha</label>
                    <input type="date" id="fecha" name="fecha" class="card__input_form heigth_input_16">
                </div>
                <div class="card__form-div">
                    <a href="#" id="boton_cliente" class="card__boton_asignacion">Cliente</a>
                    <input type="text" id="input_cliente_di_visual" name="input_cliente_di_visual" disabled class="card__input_form heigth_input_16">
                    <input type="hidden" id="input_cliente_id_hidden" name="input_cliente_id_hidden">
                </div>
                <div class="card__form-div">
                    <a href="#" id="boton_productos" class="card__boton_asignacion">Productos</a>
                    <div id="contenedor_productos_asociados" class= "card__input_form heigth_input_16"></div>
                    <input type="hidden" id="productos_seleccionados" name="productos_seleccionados">
                </div>
                <input type="text" id="input_precio_productos" value=0 name="input_precio_productos" readonly class="card__input_form heigth_input_16 input_precio_adicional">
                <button type="submit" id="registrar_servicio" class="boton boton_guardar_registro letra_roja">Registrar</button>
            </form>
        </div>
    </article>
</div>