{% load static %}

<div class="contenedor">
    <article class="card card_editar">
        <figure>
            <img src="{% static "images/logo_inventario_editar.png" %}" alt="logo" class="card__image_editar">
        </figure>
        <div>
            <form action="" class="card__form_editar">
                <div class="card__form-div">
                    <label for="marca">Marca</label></i>
                    <input type="text" name="marca" disabled class="card__input_form card_input_form_disabled heigth_input_16 marca">
                </div>
                <div class="card__form-div">
                    <label for="referencia">Referencia</label>
                    <input type="text" maxlength="20" name="referencia" disabled class="card__input_form card_input_form_disabled heigth_input_16 referencia">
                </div>
                <div class="card__form-div">
                    <label for="tipo_producto">Tipo de producto</label>
                    <select name="tipo_producto" disabled class="card__input_form card_input_form_disabled heigth_input_16 tipo_producto">
                        <option value="Llanta">Llanta</option>
                        <option value="Aceite">Aceite</option>
                        <option value="Filtro">Filtro</option>
                        <option value="Grasa">Grasa</option>
                    </select>
                </div>
                <div class="card__form-div">
                    <label for="precio">Precio</label>
                    <input type="text" name="precio" disabled class="card__input_form card_input_form_disabled heigth_input_16 precio">
                </div>
                <div class="card__form-div">
                    <label for="unidades_disponibles">Unidades Disponibles</label>
                    <input type="text" name="unidades_disponibles" disabled class="card__input_form card_input_form_disabled heigth_input_16 unidades_disponibles">
                </div>
                <div class="card__form-div">
                    <a href="#" id="cancelar_editar" class="boton card_form__boton_cancelar letra_roja">Cancelar</a>
                </div>
            </form>
        </div>
        <div class="card__contenedor_flechas card__contenedor_flechas_productos">
            <div class="card__flechas">
                <i class="bi bi-caret-right-fill"></i>
                <i class="bi bi-caret-right-fill"></i>
            </div>
            <div class="card__flechas">
                <i class="bi bi-caret-right-fill"></i>
                <i class="bi bi-caret-right-fill"></i>
            </div>
            <div class="card__flechas">
                <i class="bi bi-caret-right-fill"></i>
                <i class="bi bi-caret-right-fill"></i>
            </div>
            <div class="card__flechas">
                <i class="bi bi-caret-right-fill"></i>
                <i class="bi bi-caret-right-fill"></i>
            </div>
            <div class="card__flechas">
                <i class="bi bi-caret-right-fill"></i>
                <i class="bi bi-caret-right-fill"></i>
            </div>
        </div>
        <div>
            <form action="{% url "editar_producto" %}" method="post" class="card__form_editar">
                {% csrf_token %}
                <input type="hidden" id="registro_id" name="registro_id">
                <div class="card__form-div">
                    <label for="marca">Marca</label></i>
                    <input type="text" id="marca_editar" name="marca" required class="card__input_form  heigth_input_16 marca">
                </div>
                <div class="card__form-div">
                    <label for="referencia">Referencia</label>
                    <input type="text" id="referencia_editar" name="referencia" class="card__input_form heigth_input_16 referencia">
                </div>
                <div class="card__form-div">
                    <label for="tipo_producto">Tipo de producto</label>
                    <select name="tipo_producto" id="tipo_producto_editar" class="card__input_form heigth_input_16 tipo_producto">
                        <option value="Llanta">Llanta</option>
                        <option value="Aceite">Aceite</option>
                        <option value="Filtro">Filtro</option>
                        <option value="Grasa">Grasa</option>
                    </select>
                </div>
                <div class="card__form-div">
                    <label for="precio">Precio</label>
                    <input type="text" id="precio_editar" name="precio" class="card__input_form heigth_input_16 precio">
                </div>
                <div class="card__form-div">
                    <label for="unidades_disponibles">Unidades Disponibles</label>
                    <input type="text" id="unidades_disponibles_editar" name="unidades_disponibles" class="card__input_form heigth_input_16 unidades_disponibles">
                </div>
                <button type="submit" id="actualizar_producto" class="boton boton_guardar_registro letra_roja">Actualizar</button>
            </form>
        </div>
    </article>
</div>