{% load static %}


<div class="contenedor">
    <article class="card card_registrar">
        <figure>
            <img src="{% static "images/logo_servicios.png" %}" alt="logo" class="card__image_registrar">
        </figure>
        <div>
            <form action="" method="post" class="card__form_registrar">
                {% csrf_token %}
                <div class="card__form-div">
                    <label for="nombre_servicio">Servicio</label>
                    <select name="nombre_servicio" id="nombre_servicio" class="card__input_form heigth_input_16">
                        <option value="Llanta">Venta</option>
                        <option value="Aceite">Engrase</option>
                        <option value="Filtro">Servicio 3</option>
                        <option value="Grasa">Servicio 4</option>
                    </select>
                </div>
                <div class="card__form-div">
                    <label for="descripcion">Descripción</label></i>
                    <input type="text" id="descripcion" name="descripcion" required class="card__input_form heigth_input_16">
                </div>
                <div class="card__form-div">
                    <label for="costo_total">Costo total</label>
                    <input type="text" maxlength="20" id="costo_total" name="costo_total" disabled class="card__input_form heigth_input_16">
                </div>

                <div class="card__form-div">
                    <label for="fecha">Fecha</label>
                    <input type="date" id="fecha" name="fecha" class="card__input_form heigth_input_16">
                </div>
                <div class="card__form-div">
                    <a href="#" id="boton_cliente">Cliente</a>
                    <input type="text" id="cliente" name="cliente" class="card__input_form heigth_input_16">
                </div>
                <button type="submit" class="boton boton_guardar_registro letra_roja">Registrar</button>
            </form>
        </div>
    </article>
</div>