{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    {% block title %}{% endblock title %}
</head>
<body>
    {% block header %}
    <header>
        <div class="contenedor header">
            <div class="header__bloque_logo_y_seccion">
                {% include "layouts/partials/logo.html" %}
                {% block nombre_seccion %}{% endblock nombre_seccion %}
            </div>
            <nav>
                <ul class="header__menu">
            {% block boton_volver %}{% endblock boton_volver %}
            {% block boton_registrar %}{% endblock boton_registrar %}
            {% block boton_cerrar_sesion %}{% endblock boton_cerrar_sesion %}
                </ul>
            </nav>
        </div>
    </header>
    {% endblock header %}
    <main>
        <section class="contenedor seccion_principal">
            {% include "layouts/partials/titulo.html" %}
            {% block ingreso %}{% endblock ingreso %}
            {% block opciones %}{% endblock opciones %}
            {% block cuerpo_seccion %}{% endblock cuerpo_seccion %}
        </section>
    </main>
</body>
</html>